<table border="1">
<tr>
    <td colspan="2">
        <app-header></app-header>
    </td>
</tr>
<tr>
    <td>
        <app-work-experience></app-work-experience>
    </td>
    <td>
        <app-education></app-education>
    </td>
</tr>
<tr>
    <td>
        <br>
        <app-interests></app-interests>
        <br><br>
        <app-lenguages></app-lenguages>
    </td>
    <td>
        <app-archievements></app-archievements>
    </td>
</tr>
<tr>
    <td colspan="2">
        <app-skills></app-skills>
    </td>
</tr>
</table>